# Ignore node_modules from all levels
**/node_modules

# Ignore logs and debug output
npm-debug.log
pnpm-debug.log
yarn-error.log

# Ignore Docker artifacts
.dockerignore

# Ignore build artifacts
# dist
# **/dist

# Ignore envs, if they're generated or secret
# .env
# .env.*

# Ignore irrelevant data folders
data/

# Optional: Ignore test artifacts
coverage
